@font-face {
  font-family: "VCR OSD Mono";
  src: url("./font/VCR_OSD_MONO_1.001.ttf") format("truetype");

  font-family: "pixel_operator1";
  src: url("./font/pixel_operator/PixelOperator.ttf") format("truetype");

  /* font-family: "pixel_operator_bold";
  src: url("./font/pixel_operator/PixelOperator-Bold.ttf") format("truetype"); */
}
@font-face {
  font-family: "pixel_operator_bold";
  src: url("./font/pixel_operator/PixelOperator-Bold.ttf") format("truetype");
}

body {
  font-family: "pixel_operator1", "sans serif";
  background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 0%,
    rgba(40, 112, 189, 1) 0%,
    rgba(0, 51, 98, 1) 100%
  );
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: url("./img/poke-ball-moewalls-com.gif") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.text-bold {
  font-family: "pixel_operator_bold", "sans serif";
}

/* rotation spinner */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-pokeball {
  animation: spin 2s linear infinite;
}

.blur-cards {
  filter: blur(10px);
}

/* pagination */

.li-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #003362;
  border-radius: 10px;
}

.li-pagination a {
  text-decoration: none;
  color: white;
}
