body {
  background-color: #0d2847;
}

.background-image {
  height: 100vh;
  background-image: url(./img/poke-ball-moewalls-com.gif);
  background-repeat: no-repeat;
  background-position: center;
}
